<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
  * @copyright Copyright (c) 2024 Aurora Creation Sp. z o.o. (https://auroracreation.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="santander" frontName="santander">
            <module name="Aurora_Santander"/>
        </route>
    </router>
</config>
