<?xml version="1.0" encoding="UTF-8"?>

<!--
    @copyright Copyright (c) 2022 Aurora Creation Sp. z o.o. (http://auroracreation.com)
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="eraty_santander" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>eRaty Santander Consumer Bank</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ranges" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Installment rates</label>
                    <frontend_model>Aurora\Santander\Block\Adminhtml\Form\Field\Rates</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="51" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="instructions" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Instructions</label>
                </field>
                <field id="allowed_carriers" translate="label" type="multiselect" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Allowed Shipping Methods</label>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Maximum Order Total</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>

        <tab id="aurora" translate="label" sortOrder="10">
            <label>Aurora Creation</label>
        </tab>

        <section id="santander_configuration" translate="label" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Santander</label>
            <tab>aurora</tab>
            <resource>Aurora_Santander::eraty_configuration</resource>
            <group id="calc_button_configuration" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Installment Calculate Button</label>
                <field id="min_product_price" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Minimum Product Price</label>
                </field>
                <field id="max_product_price" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Maximum Product Price</label>
                </field>
            </group>
            <group id="display_configuration" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Banner and link to landing page</label>
                <field id="santander_banner" translate="label" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show banner eRaty</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="santander_landlink" translate="label" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show link to landing page eRaty</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="auto_update" translate="label" type="text" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>State Auto Update</label>

                <field id="api_login" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Login to API</label>
                </field>

                <field id="api_password" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password to API</label>
                </field>

                <field id="shop_id" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API shop ID</label>
                </field>

                <field id="cert" translate="label" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1"
                       type="Magento\Config\Block\System\Config\Form\Field\File">
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <label>Upload certificate</label>
                    <upload_dir>var</upload_dir>
                </field>

                <field id="cert_password" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password to certificate</label>
                </field>
            </group>

            <group id="logger" translate="label" type="text" sortOrder="30" showInDefault="1">
                <label>Logger settings</label>
                <field id="module_prefix" translate="label" type="text" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Prefix</label>
                </field>
            </group>
        </section>
    </system>
</config>
